/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Meyerweb reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Beginning of CSS,starting with general/universal selectors */
* {
  font-size: 62.5%;
}
/* Navigation bar */
.navBar {
  position: absolute;
  width: 100%;
  background-color: blue;
  color: white;
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navLeft {
  float: left;
  background-color: #111;
}
.navRight {
  float: right;
}
.navBar li a {
  display: block;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1.5em;
}
li a:hover {
  background-color: #111;
}
/* Main image Section */
#mainImg {
  max-width: 100%;
  max-height: 100%;
}
.main h1 {
  font-size: 2em;
  color: white;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Logo Section */
#logoSec {
  background-color: blue;
}
#logoDiv {
  justify-content: center;
  margin: 0 auto;
  /* max-width: calc(100% - 10em); */
  max-width: 100%;
  width: 80rem;
  padding: 5em 0;
}
/* About Section */
/* Meida Queries */
@media only screen and (min-width: 801px) {
  * {
    box-shadow: inset 0 0 16px -4px blue;
  }
  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 50px;
  }
  .column {
    width: 30%;
    flex: 1 1 auto;
  }
}
@media only screen and (max-width: 800px) and (min-width: 501px) {
  * {
    box-shadow: inset 0 0 16px -4px green;
  }
  .row {
    /* flex-wrap: wrap; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 50px;
  }
  .column {
    width: 49%;
    /* flex: 1 0 100%; */
  }
}
@media only screen and (max-width: 500px) and (min-width: 1px) {
  * {
    box-shadow: inset 0 0 16px -4px red;
  }
  .row {
    display: block;
    text-align: center;
  }
  .column {
    margin: auto;
    width: 80%;
  }
  p {
    text-align: justify;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
/* Title & Nav Bar */
.title-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #2A3037;
}
@media (max-width: 800px) {
  .title-nav-bar {
    max-width: 100%;
  }
}
.title-nav-bar h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 3rem;
  margin-left: 50px;
}
.title-nav-bar nav {
  margin-right: 50px;
  display: flex;
  justify-items: center;
}
.title-nav-bar nav a {
  width: 10%;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0px 15px 0px;
  margin: 0px 30px 0px 30px;
  text-align: center;
}
/* Drop Down Button on Nav Bar */
.dropdown {
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  border-radius: 5px;
  color: #E94472;
}
.dropbtn:hover {
  color: #E94472;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#dropa1 {
  width: 60%;
  color: #AD85F8;
}
#dropa1:hover {
  color: #E94472;
}
#dropa2 {
  width: 60%;
  color: #AD85F8;
}
#dropa2:hover {
  color: #E94472;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
footer {
  display: flex;
  width: 100%;
  height: 550px;
  background-color: #2A3037;
}
footer .mapouter {
  margin-left: 30px;
}
@media (max-width: 800px) {
  footer .mapouter {
    max-width: 800px;
  }
}
footer .mapouter .gmap_canvas {
  border: 5px solid #AD85F8;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}
@media (max-width: 800px) {
  footer .mapouter .gmap_canvas {
    width: 600px;
    height: 400px;
  }
}
footer .footer-title {
  margin: 30px 0px 20px 0px;
}
@media (max-width: 800px) {
  footer .footer-title {
    margin: 30px 90px 20px 0px;
  }
}
footer .footer-title h3 {
  color: white;
  margin-right: 70%;
}
@media (max-width: 800px) {
  footer .footer-title h3 {
    margin-right: 60%;
    text-align: start;
  }
}
footer .additional-footer {
  display: flex;
  flex-direction: column;
  margin: 70px 0px 0px 155px;
  /* Colors for Hover over each social media button */
}
@media (max-width: 800px) {
  footer .additional-footer {
    margin: 30px 40px 0px 0px;
  }
}
footer .additional-footer .fa {
  padding: 25px;
  margin: 5px;
  font-size: 30px;
  width: 80px;
  height: 80px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}
@media (max-width: 800px) {
  footer .additional-footer .fa {
    padding: 15px;
    width: 60px;
    height: 60px;
  }
}
footer .additional-footer .fa.fa-google:hover {
  border: 1px solid #0F9D58;
  color: #0F9D58;
}
footer .additional-footer .fa.fa-youtube:hover {
  border: 1px solid #ff0000;
  color: #ff0000;
}
footer .additional-footer .fa.fa-facebook:hover {
  border: 1px solid #6d84b4;
  color: #6d84b4;
}
footer .additional-footer .fa.fa-instagram:hover {
  border: 1px solid #8a3ab9;
  color: #8a3ab9;
}
footer .additional-footer .fa.fa-pinterest:hover {
  border: 1px solid #BD081C;
  color: #BD081C;
}
.top-img {
  background-image: url("../img/kid_in_terminal.jpg");
  background-size: 100% 800px;
  width: 100%;
  height: 800px;
}
@media (max-width: 500px) {
  .top-img {
    height: 500px;
    background-size: 100% 500px;
  }
}
.top-img .kids-airport {
  width: 100%;
}
.top-img h1 {
  text-align: center;
  padding-top: 335px;
}
@media (max-width: 500px) {
  .top-img h1 {
    padding-top: 220px;
  }
}
.top-img h1 p {
  font-size: 6.3rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #AD85F8;
}
@media (max-width: 800px) {
  .top-img h1 p {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  .top-img h1 p {
    font-size: 2.3rem;
    text-align: center;
  }
}
.purple-bar {
  height: 110px;
  background-color: #AD85F8;
}
.red-box {
  background-color: #AD85F8;
  height: 660px;
}
@media (max-width: 500px) {
  .red-box {
    height: 1500px;
  }
}
.red-box .three-boxs {
  display: flex;
}
@media (max-width: 500px) {
  .red-box .three-boxs {
    flex-direction: column;
  }
}
.red-box .three-boxs .red-box-each {
  width: 457px;
  height: 400px;
}
@media (max-width: 800px) {
  .red-box .three-boxs .red-box-each {
    margin-left: 21px;
  }
}
.red-box .three-boxs .red-box-each img {
  margin: 50px 0px 50px 150px;
}
@media (max-width: 800px) {
  .red-box .three-boxs .red-box-each img {
    margin: 50px 0px 50px 60px;
  }
}
@media (max-width: 500px) {
  .red-box .three-boxs .red-box-each img {
    margin-left: 150px;
  }
}
.red-box .three-boxs .red-box-each h3 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.red-box .three-boxs .red-box-each p {
  width: 280px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  color: white;
}
@media (max-width: 800px) {
  .red-box .three-boxs .red-box-each p {
    max-width: 226px;
  }
}
.red-box .two-boxs {
  padding-top: 88px;
  padding-bottom: 88px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .red-box .two-boxs {
    flex-direction: column;
    align-items: center;
  }
}
.red-box .two-boxs button {
  width: 230px;
  height: 65px;
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  border-radius: 20px;
  font-size: 2rem;
  color: #E94472;
  background-color: white;
}
.red-box .two-boxs button:hover {
  background-color: #E94472;
  color: white;
}
#first-left-border {
  border-left: 1px solid white;
}
@media (max-width: 500px) {
  #first-left-border {
    border-top: 1px solid white;
    border-left: none;
  }
}
#second-left-border {
  border-left: 1px solid white;
}
@media (max-width: 500px) {
  #second-left-border {
    border-top: 1px solid white;
    border-left: none;
  }
}
.top-main-content .main-content-title {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}
.top-main-content .main-content-title h2 {
  margin: 50px;
  color: #E94472;
}
.top-main-content .main-content-title h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 80px;
  color: #E94472;
}
@media (max-width: 500px) {
  .top-main-content .main-content-title h4 {
    width: 90%;
    text-align: center;
  }
}
.top-main-content .six-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.top-main-content .six-sections section {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .top-main-content .six-sections section {
    width: 800px;
  }
}
@media (max-width: 500px) {
  .top-main-content .six-sections section {
    width: 500px;
  }
}
.top-main-content .six-sections section img {
  border: 5px solid #AD85F8;
  margin-bottom: 60px;
}
.top-main-content .six-sections section h5 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #E94472;
}
.top-main-content .six-sections section p {
  margin-bottom: 50px;
  text-align: center;
  height: 190px;
  color: #E94472;
}
@media (max-width: 800px) {
  .top-main-content .six-sections section p {
    width: 700px;
  }
}
@media (max-width: 500px) {
  .top-main-content .six-sections section p {
    width: 400px;
  }
}
.top-main-content .six-sections section button {
  width: 170px;
  height: 50px;
  font-size: 1.8rem;
  border-radius: 20px;
  color: white;
  background-color: #AD85F8;
  font-family: 'Open Sans', sans-serif;
}
.top-main-content .six-sections section button:hover {
  color: white;
  background-color: #E94472;
}
