.top-img {
  //padding-bottom: 100px;
  .kids-airport {
    width: 100%;
  }
}
.purple-bar {
  height: 110px;
  background-color: @purple;
}

.red-box {
  background-color: @purple;
  height: 660px;
  //height: 600px;
  .three-boxs {
    display: flex;
    .red-box-each {
      width: 457px;
      height: 400px; //330px
      img {
        margin: 50px 0px 50px 150px;
      }
      h3 {
        color: white;
        text-align: center;
        margin-bottom: 40px;
      }
      p {
        width: 280px;
        height: 80px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  .two-boxs {
    padding-top: 88px;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;

    button {
      width: 230px;
      height: 65px;
      font-family: 'Open Sans', sans-serif;
      margin: 10px;
      border-radius: 10px;
      font-size: 2.0rem;
      background-color: @red;
      color: white;
      background-image: linear-gradient(@red, purple);
    }
  }
}

// Vertical white border lines
#first-left-border {
  border-left: 1px solid white;
}
#second-left-border {
  border-left: 1px solid white;
}

.top-main-content {

}