.top-img {
  .kids-airport {
    width: 100%;
  }
}

.red-box {
  background-color: @purple;
  height: 915px;
  //height: 600px;
  .three-boxs {
    display: flex;
    .red-box-each {
      height: 330px;
      img {
        margin: 10% 0px 0px 30%;
      }
    }
  }
}