.register#userEditTrip {
  form#register {
    background-color: @red;
    width: 500px;
    height: 700px;
    margin-top: 80px;
    h1 {
      padding-top: 20px;
    }
  }
}
footer {
  //margin: 1000px 500xp 0px 0px;
}

@media @phone {
  #view, #edit, #delete, #submit, #ready{
    margin-left: 25%;
  }
}