/* Sign In Page */

.sign-in-main {
  display: flex;
  justify-content: flex-start;
  background-color: @purple;
  height: 900px;
  form {
    width: 40%;
    height: 200px;
    margin: 300px 0px 0px 70px;
  }
  @media @phone {
    height: 1500px;
  }
}